<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RT73USBWirelessDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.Ralink.driver.RT73</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1.0</string>
	<key>CFBundleSignature</key>
	<string>Ralink</string>
	<key>CFBundleVersion</key>
	<string>1.3.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>3com</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>9</integer>
			<key>idVendor</key>
			<integer>5234</integer>
		</dict>
		<key>Abocom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>43856</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>Amigo_1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>36897</integer>
			<key>idVendor</key>
			<integer>5263</integer>
		</dict>
		<key>Amigo_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>36897</integer>
			<key>idVendor</key>
			<integer>3760</integer>
		</dict>
		<key>Amit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>6341</integer>
		</dict>
		<key>Askey</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>1826</integer>
			<key>idVendor</key>
			<integer>5776</integer>
		</dict>
		<key>Asus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5923</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Asus_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5924</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Belkin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>28762</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>36955</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>36956</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Billionton</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>49177</integer>
			<key>idVendor</key>
			<integer>5681</integer>
		</dict>
		<key>Buffalo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>216</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>CNet</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>36914</integer>
			<key>idVendor</key>
			<integer>4977</integer>
		</dict>
		<key>Conceptronic</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15394</integer>
			<key>idVendor</key>
			<integer>5298</integer>
		</dict>
		<key>Conceptronic For Test</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15392</integer>
			<key>idVendor</key>
			<integer>5298</integer>
		</dict>
		<key>D-Link</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15363</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>D-Link_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15364</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>D-Link_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15366</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>D-Link_4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>15367</integer>
			<key>idVendor</key>
			<integer>2001</integer>
		</dict>
		<key>Edimax - 1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>38674</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Edimax - 2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>29464</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Edimax - 3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>30232</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>EnGenius_1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>14081</integer>
			<key>idVendor</key>
			<integer>5952</integer>
		</dict>
		<key>EnGenius_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>28928</integer>
			<key>idVendor</key>
			<integer>5952</integer>
		</dict>
		<key>For Flash Install</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12545</integer>
			<key>idVendor</key>
			<integer>2066</integer>
		</dict>
		<key>Gigabyte</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>32778</integer>
			<key>idVendor</key>
			<integer>4100</integer>
		</dict>
		<key>HP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>4</integer>
			<key>idVendor</key>
			<integer>5545</integer>
		</dict>
		<key>Hawking</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>45595</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Hawking_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>45596</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Hawking_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>45597</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Hawking_4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>45598</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Hawking_5</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>45599</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Hawking_A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>43777</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>IO-Data</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>2365</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>MSI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>26743</integer>
			<key>idVendor</key>
			<integer>3504</integer>
		</dict>
		<key>MSI_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>43124</integer>
			<key>idVendor</key>
			<integer>3504</integer>
		</dict>
		<key>MSI_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>43105</integer>
			<key>idVendor</key>
			<integer>3504</integer>
		</dict>
		<key>Philips</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1137</integer>
		</dict>
		<key>QCom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>25129</integer>
			<key>idVendor</key>
			<integer>6376</integer>
		</dict>
		<key>Ralink</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>9587</integer>
			<key>idVendor</key>
			<integer>5263</integer>
		</dict>
		<key>Ralink_2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>9841</integer>
			<key>idVendor</key>
			<integer>5263</integer>
		</dict>
		<key>Sitecom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>37036</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom-FlashInstall</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>39</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Surecom</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12787</integer>
			<key>idVendor</key>
			<integer>1897</integer>
		</dict>
		<key>Tilgin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>20481</integer>
			<key>idVendor</key>
			<integer>26931</integer>
		</dict>
		<key>ZyXEL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Ralink.driver.RT73</string>
			<key>IOClass</key>
			<string>RT2573USBWirelessDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>13333</integer>
			<key>idVendor</key>
			<integer>1414</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.8</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.7.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
